/*
 * WhoWhatWere stylesheet
 */

body {
    font-size: 16px;
    font-family: "Lucida Console", Monaco, monospace;
    margin: 0 25%;
    background-color: black;
    color: white;
}

header {
    margin: 1.5em 0;
}

nav {
    font-size: 1em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.25em;
    padding-bottom: 0.25em;
}

strong {
    font-weight: bold;
}

p {
    margin-bottom: 1em;
} 

a {
    color: white; text-decoration: none;
}

a:hover {
    color: #a2a2a2;
}

time {
    font-size: 0.8em;
}

article {
    padding-bottom: 1em;
    border-top: 1px solid #222;
    padding: 30px 0 0;
}

details {
    font-size: 0.9em;
    margin: 15px 20px;
    padding: 15px 0 0 0;
}

details summary {
    font-size: 1.2em;
    /*text-transform: uppercase;*/
    font-weight: bold;
}

video {
    margin: 1em auto 1.5em auto;
    display: block;
    max-width: 100%;
}

footer {
    padding: 30px 0;
    font-size: 15px;
}

footer span,
footer img{
    float: right;
}

footer img {
    margin-left: 10px;
    width: 14px;
}

#youtubelogo {
    float: left;
    padding-right: 1em;
}

#headermiddle {
    padding-top: 0.25em;
    display: inline-block;
}

#kopimi {
    float: right;
    display: inline-block;
    margin-top: 3px;
}

#youtubelogo:hover,
#kopimi:hover {
    opacity: 0.6;
}

@media (max-width: 900px){
    body {
        margin: 0 10%;
    }
}
